<div class="container clearfix">
    <div class="map">
        <a href="path"><img  class="esa_map"  src="/images/esa_map.png"></img></a>
        <a href="story"><img class="qx"       src="/images/qx.png"></img></a>
        <a href="story"><img class="df"       src="/images/df.png"></img></a>
        <p class="time">53 days on the road</p>
    </div>
    <link href="/videojs/video-js.css" rel="stylesheet"/>
    <script src="/videojs/video.js"></script>
    <video id="home-video" class="video-js vjs-default-skin" controls preload="auto" poster="/images/earth.png"
 data-setup="{}">
        <source src="/images/trip.mp4" type='video/mp4'>
    </video>
</div>
